<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Document</title>
</head>
<body>
  <main>
    <nav class="navbar">
      <h2>{{navTitle}}</h2>
      <div class="flexer"></div>
      <div class="nav-contact">
        <p>Celular: 31 988765-4321</p>
        <p>Email: teste&#64;teste.com</p>
      </div>
    </nav>
  </main>
</body>
</html>


<router-outlet></router-outlet>